body {
	width: 100%;
	font-family: comfortaa;
	box-sizing: border-box;
	position: relative;
}
.page_main_width {
	max-width: 1170px;
}
.container_width	{
	width: 1170px;
}
.big_menu {
	background: linear-gradient(to right, #26282D 50%, #007594 50%);
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80px;
	z-index: 1000;
	position: fixed;
	top: 0;
	transition: all 0.3s;
}
.small_menu {
	height: 60px;
}
.container {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	position: relative;
}
.navigation a {
	color: #FFFFFF;
	line-height: 3;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.navigation {
	padding-left: 30px;
	width: 100%;
	height: 100%;
}
.navigation a:after  {
 	display: block;
 	position: absolute;
 	left: 0;
 	width: 0;
	bottom: 0;
 	height: 3px;
 	background-color: #007594;
 	content: "";
 	transition: width 0.3s ease-out;
 }
.navigation  li:nth-child(n+5) a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	bottom: 0;
	height: 3px;
	background-color:  #26282D;
	content: "";
	transition: width 0.3s ease-out;
}
.navigation li:nth-child(n+5) > a:hover:after,
.navigation li:nth-child(n+5) > a:focus:after,
.navigation a:hover:after,
.navigation a:focus:after {
	width: 100%;
}
.navigation ul li {
	list-style: none;
	height: 100%;
}
.navigation ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100%;
	padding: 0;
	margin: 0;
}
div.logo {
	padding: 10px;
	padding-left: 5px;
	width: 100px;
}
.navigation_info p a {
	color: #26282D;
}
#navigation_burger {
	display: none;
	width: 50px;
	height: 40px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
#navigation_burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
  	background: #fff;
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	-webkit-transform: rotate(0deg);
  	-moz-transform: rotate(0deg);
  	-o-transform: rotate(0deg);
  	transform: rotate(0deg);
  	-webkit-transition: .25s ease-in-out;
  	-moz-transition: .25s ease-in-out;
  	-o-transition: .25s ease-in-out;
  	transition: .25s ease-in-out;
}
#navigation_burger span:nth-child(1) {
  top: 0px;
}
#navigation_burger span:nth-child(2),#navigation_burger span:nth-child(3) {
  top: 15px;
}
#navigation_burger span:nth-child(4) {
  top: 30px;
}
#navigation_burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#navigation_burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#navigation_burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#navigation_burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.navigation_info {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
/***************mobile_menu*****************/
/******************************************/
.mobile_menu {
	display: none;
	padding: 10px 0;
}
.mobile_menu ul li a {
	color: #fff;
}
.mobile_menu ul {
	width: 100%;
	list-style: none;
	height: 100vh;
	padding: 0;
}
.mobile_menu ul li {
	padding: 20px;
	padding-top: 3vh;
	text-align: center;
}


/* //////////////////main_section///////////////////////
 //////////////////////////////////////////////////////
 ////////////////////////////////////////////////// */

.main_section {
	background: url("../img/aboutwall.png") center no-repeat / cover;
	height: 200vh;
	margin-top: 70px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
}
.header_main {
	position: relative;
}
.header_main h2 {
	color: #454752;
	font-family: docker three;
	font-size: 40px;
}
.header_main h2::after {
	content: "";
	position: absolute;
	border-bottom: 4px solid #454752;
	box-shadow: 0 5px 0 -1px grey;
	width: 85%;
	top: 20px;
	right: 0;
}
.aboutus_info_p {
	color: #0f7492;
	font-family: docker three;
	font-size: 30px;
}
.main_autopark_section h2 {
	color: #0f7492;
	font-family: docker three;
	font-size: 30px;
}
.aboutus {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}
.aboutus_info {
	width: 50%;
}
.aboutus_img {
	width: 50%;
}
.autopark_section {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
}
.autopark_img_style {
	position: relative;
}
.autopark_img_style img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	transition: 0.3s;
}
.autopark:hover img,
.autopark:hover .auto_information {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	outline: 3px solid #ed960e;
    outline-offset: -15px;
}
.autopark_img_style:hover .auto_information {
	display: block;
}
.auto_information:hover .autopark_img_style img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	outline: 3px solid #ed960e;
	outline-offset: -15px;
}

.auto_information {
	display: none;
	position: absolute;
	background: #ed960e;
	bottom: 0;
	width: 100%;
	text-align: center;
    margin-bottom: 20px;
}
.auto_information_p1 {
	margin: 0px;
	padding: 14px;
}

////////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////////////////////////////////////
////////////////////////////////////////////////////


 .container_5 {
 	background: url('../img/whitewall2.png') center no-repeat / cover;
	width: 100%;
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding-top: 5vh;
 }
 .do_it_block_2 {
	 flex-wrap: wrap;
 }
 .study_block:after {
	content: "";
	border-bottom: 1.5px solid #989AA5;
	border-left: 1.5px solid #989AA5;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -20px;
	left: -5px;
 }
  .study_block:before {
	content: "";
	border-top: 1.5px solid #989AA5;
	border-right: 1.5px solid #989AA5;
	width: 100px;
	height: 100px;
	position: absolute;
	top: -10px;
	right: -10px;
 }
 .back_wall_2 {
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	-webkit-flex-direction: column;
 	-moz-flex-direction: column;
 	-ms-flex-direction: column;
 	-o-flex-direction: column;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 }
 .header_container_5{
	width: 100%;
 }
 .back_wall_2 h2 {
 	color: #454752;
	font-family: DOCKER THREE;
	font-size: 40px;
	font-weight: normal;
	position: relative;
	text-align: center;
 }
.back_wall_2 h2::after {
	content: "";
	border-bottom: 4px solid #424552;
	box-shadow: 0 5px 0 -1px grey;
	width: 30%;
	position: absolute;
	bottom: 25px;
	left: 0px;
}
.back_wall_2 h2::before {
	content: "";
	border-bottom: 4px solid #424552;
	box-shadow: 0 5px 0 -1px grey;
	width: 30%;
	position: absolute;
	top: 15px;
	right: 0px;
}
.section_slider {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.your-class {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}
.hover_effect_1 {
	width: 25%;
	transition: .6s;
}
.hover_effect_1:hover {
 	outline: 5px solid #ed960e;
    outline-offset: -20px;
    color: #0f7492;
	font-weight: bold;
 }
.hover_effect_1:hover .info_teachers_1 p:nth-child(1){
	opacity: 0;
	position: absolute;
}
.hover_effect_1:hover .info_teachers_1 p:nth-child(2){
	opacity: 1;
}
.hover_effect_1:hover img {
	filter: none;
}
.your-class div p {
	font-size: 10pt;
	text-align: center;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.img_team_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 345px;
	width: 100%;
	overflow: hidden;
}
.img_team_1 img {
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 345px;
}
.info_teachers_1 {
	word-wrap: break-word;
	text-align: center;
	position: relative;
}
.info_teachers_1 p {
	padding: 0;
	margin: 0;
}
.info_teachers_1 p:nth-child(2) {
    opacity: 0;
}
.hover_effect_text_a_1 {
	text-align: center;
	position: absolute;
	top: 0;
}
.hover_effect_text_b_1 {
	text-align: center;
	top: 0;
}
.back_wall_2_page_button a {
	color:  #e6e6e6;
	padding: 15px 20px;
	border-radius: 15px;
	outline: none;
	display: inline-block;
	box-shadow: 0 0 40px 40px #007594 inset, 0 0 0 0 #007594;
	transition: .15s ease-in-out;
	margin-bottom: 50px;
}
.back_wall_2_page_button  a:hover {
  box-shadow: 0 0 0 0 #007594 inset, 0 0 10px 4px #007594;
  color: #007594;
}

/* ////////////////footer_back///////////////////////
 //////////////////////////////////////////////////////
 ////////////////////////////////////////////////// */

footer {
	background: linear-gradient(to right, #424552 60%, #25272C 32%);
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 0 20px 0;
 }
 .footer_back {
 	display: flex;
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	-ms-align-items: center;
 	align-items: center;
 	justify-content: space-between;
 	-webkit-flex-wrap: wrap;
 	-moz-flex-wrap: wrap;
 	-ms-flex-wrap: wrap;
 	-o-flex-wrap: wrap;
 	flex-wrap: wrap;
	width: 100%;
 }
 .logo_footer {
 	width: 10%;
 }
.footer_nav {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 40%;
}
.footer_logo {
	width: 70%;
}
.footer_logo a {
	cursor: pointer;
 	color: #fff;
 	font-size: 12px;
}
.footer_logo ul {
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-left: 100px;
}
.footer_logo ul li {
	list-style: none;
}
.copyright {
	width: 30%;
	color: #fff;
 	font-size: 12px;
}
.copyright p {
	color: #fff;
	text-align: right;
	padding: 0;
	margin: 0;
}
.copyright p a {
	color: #fff;
}

/* //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
/////////////////////////forms/////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////// */

.page_erip_footer_form_block {
	display: none;
	background-color: #454752;
	width: 40%;
	z-index: 1002;
	margin: 50px auto;
	top: 10%;
	left: 0;
	right: 0;
	padding: 20px;
}
/* .page_erip_footer_form_block.active, .close_erip_footer_btn.active {
	display: block;
} */
body.active{
	overflow: hidden;
}
.erip_main_form {
	border: 2px solid #0f7492;
	padding: 20px;
}

.black-overlay_erip {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 1001;
	-moz-opacity: 0.7;
	/* opacity:.70; */
	overflow-y: scroll;
	z-index: 10000;
	filter: alpha(opacity=70);
}
.page_erip_footer_form_block.active, .black-overlay_erip.active {
	display: block;
}
